{% extends 'app.html' %}
{% block content %}
<div class="columns">
    <div class="column is-3"></div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="#">Início</a></li>
              <li class="is-active"><a href="#" aria-current="page">Consultar Utilizadores</a></li>
            </ul>
          </nav>

        <div class="table "></div>
            <div class="table-wrapper">
                <table class="table has-mobile-cards is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th width="40px"></th>
                            <th  style="width: 300px;">
                                <div class="th-wrap">
                                Nome
                                    <span class="icon is-small">
                                        <i class="mdi mdi-menu-up"></i>
                                    </span>
                                </div>
                            </th>
                            <th style="width: 300px;">
                                Email
                                <span class="icon is-small">
                                     <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th>
                               Telefone
                                <span class="icon is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                            <th>
                               Tipo
                                <span class="icon is-small">
                                    <i class="mdi mdi-menu-up"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    {% for user in user %}
                    <tbody>      
                      <tr draggable="false">
                        <td data-label="Nome">{{user.nome}}
                            <a href="{% url 'alterarAtividade' atividade.id %}">
                                <span class="icon is-small">
                                    <i class="mdi mdi-circle-edit-outline mdi-22px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Email">{{user.email}}
                            <a href="{% url 'alterarAtividade' atividade.id %}">
                                <span class="icon is-small">
                                    <i class="mdi mdi-circle-edit-outline mdi-22px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Telefone">{{user.telefone}}
                            <a href="{% url 'alterarAtividade' atividade.id %}">
                                <span class="icon is-small">
                                    <i class="mdi mdi-circle-edit-outline mdi-22px"></i>
                                </span>
                            </a>
                        </td>
                        <td data-label="Tipo">{{user.tipo}}
                            <a href="{% url 'alterarAtividade' atividade.id %}">
                                <span class="icon is-small">
                                    <i class="mdi mdi-circle-edit-outline mdi-22px"></i>
                                </span>
                            </a>
                        </td>
                      </tr> 
                      <tr class="detail">
                        <td colspan="4">
                            <div class="detail-container"></div>
                        </td>
                      </tr> 
                    </tbody>
                    {% endfor %}
                </table>
            </div>

    </div>
</div>
{% endblock content %}














