<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar</title>
</head>

<body>
    <h1>Registar</h1>
    <br><br>
<br>
    <title>Criar Utilizador</title>
    <form method="POST">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
        <button style="background-color:#000000; color:white" class="btn btn-outline-info" type="submit">Registar</button>
    </form>

    Se já tiver uma conta, por favor faça <a href="/utilizadores/accounts/login" target="blank"><strong>login</strong></a>.

    
</body>

</html>