
{% extends 'app.html' %}
{% block content %}
{% load static %}
        <div>
          <div class="section">
            <div class="columns">
              <div class="column is-7">
                <h1 class="title has-text-centered">Nova plataforma</h1>
                <h1 class="subtitle is-5 has-text-centered">
                  Simples, Intuitivo, Limpo.
                </h1>
                <p>
                  A plataforma online do Dia Aberto foi renovada pelos alunos em
                  âmbito do curso de Licenciatura de Engenharia Informática.
                </p>
              </div>
              <div class="column is-4">
                <img alt="Logo" src="{% static '/img/logo-large.png' %}" />
              </div>
            </div>
          </div>
          <div class="hero is-light">
            <div class="hero-body">
              <div class="columns">
                <div class="column is-8">
                  <p>2019 Dia Aberto por <a>Grupo 9</a></p>
                  <small>
                    Contacto de suporte:
                    <a href="">suporte.dia.aberto@ualg.pt</a>
                  </small>
                </div>
                <div class="column">
                  <img src="{% static '/img/ualg-logo.png' %}" alt="Dia Aberto" />
                </div>
                <div class="column is-1">
              </div>
            </div>
          </div>
        </div>
{% endblock content%}
  
