<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <form method="POST" class="post-form" action="/update/{{Atividade.id}}">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3>Update Details</h3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Atividade Id:</label>
        <div class="col-sm-4">
          <input type="text" name="id" id="id" required maxlength="20" value="{{ Atividade.id }}" />
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-4">
            <input type="text" name="nome" id="nome" required maxlength="255" value="{{ Atividade.nome }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Descricao:</label>
          <div class="col-sm-4">
            <input type="text" name="descricao" id="descricao" required maxlength="100"
              value="{{ Atividade.descricao }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Capacidade maxima:</label>
          <div class="col-sm-4">
            <input type="text" name="capacidademaxima" id="capacidademaxima" required maxlength="255"
              value="{{ Atividade.capacidademaxima }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Duracao:</label>
          <div class="col-sm-4">
            <input type="text" name="duracao" id="duracao" required maxlength="15" value="{{ Atividade.duracao }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Publico alvo:</label>
          <div class="col-sm-4">
            <input type="text" name="publicoalvo" id="publicoalvo" required maxlength="15"
              value="{{ Atividade.publicoalvo }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Coordenador:</label>
          <div class="col-sm-4">
            <input type="text" name="coordenadorutilizadorid" id="coordenadorutilizadorid" required maxlength="15"
              value="{{ Atividade.coordenadorutilizadorid }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Professor universitario:</label>
          <div class="col-sm-4">
            <input type="text" name="professoruniversitarioutilizadorid" id="professoruniversitarioutilizadorid"
              required maxlength="15" value="{{ Atividade.professoruniversitarioutilizadorid }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Vagas:</label>
          <div class="col-sm-4">
            <input type="text" name="nrcolaboradoresnecessario" id="nrcolaboradoresnecessario" required maxlength="15"
              value="{{ Atividade.nrcolaboradoresnecessario }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Data de submissao:</label>
          <div class="col-sm-4">
            <input type="date" name="datasubmissao" id="datasubmissao" required maxlength="15"
              value="{{ Atividade.datasubmissao }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Vagas:</label>
          <div class="col-sm-4">
            <input type="text" name="estado" id="estado" required maxlength="255" value="{{ Atividade.estado }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Vagas:</label>
          <div class="col-sm-4">
            <input type="text" name="tipo" id="tipo" required maxlength="255" value="{{ Atividade.tipo }}" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </div>
      </div>
  </form>
</body>

</html>