<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <form method="POST" class="post-form">
    {% csrf_token %}
    <div class="container">
      <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <h3 class="title is-3">Propor atividade</h3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-4">
          {{ form.nome }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descrição:</label>
        <div class="col-sm-4">
          {{ form.descricao }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Capacidade máxima:</label>
        <div class="col-sm-4">
          {{ form.capacidademaxima }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Duração:</label>
        <div class="col-sm-4">
          {{ form.duracao }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Público alvo:</label>
        <div class="col-sm-4">
          {{ form.publicoalvo }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Coordenador</label>
        <div class="col-sm-4">
          {{ form.coordenador }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Professor universitário:</label>
        <div class="col-sm-4">
          {{ form.professoruniversitario }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Número de colaboradores necessários:</label>
        <div class="col-sm-4">
          {{ form.ncolaboradoresnecessarios }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Estado:</label>
        <div class="col-sm-4">
          {{ form.estado }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tipo:</label>
        <div class="col-sm-4">
          {{ form.tipo }}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>