{% extends 'app.html' %}
{% load i18n %}

{% block load %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}
<script>
    $("input").addClass("input");
</script>
{% endblock scripts %}

{% block title %}Inscrição{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/" class="router-link-active">Início</a></li>
            <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">Minha
                    Inscrição</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-success is-active">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Responsáveis</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-school"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Escola</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-train-car"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Transporte</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-food-apple"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Almoço</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Sessões</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Submissão</p>
                </div>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                Docente Responsável 1
            </h2>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="{{ form.nome.id_for_label }}" class="label">Nome</label>
                        <div class="controlis-clearfix">{{object.participante.first_name}} {{object.participante.last_name}}</div>
                        {{ form.nome.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.email.id_for_label }}" class="label">E-mail</label>
                        <div class="control is-clearfix">{{object.participante.email}}</div>
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.tel.id_for_label }}" class="label">Telemóvel/Telefone</label>
                        <div class="control is-clearfix">{{object.inscricaocoletiva.escola.telefone}}</div>
                        {{ form.tel.errors }}
                    </div>
                </div>
            </div>
            <hr />
            <div class="column is-8 is-offset-2">
                <div class="level">
                    <div class="level-left">
                        {% if wizards.steps.prev %}
                        <button class="button is-outlined" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
                            <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                            <span>Anterior</span>
                        </button>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <a href="{% url 'escola' %}">
                            <span>Próximo</span>
                            <span class="icon is-medium"><i class="mdi mdi-forward mdi-36px"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
</div>