{% extends 'app.html' %}
{% load static %}

{% block load %}
<link rel="stylesheet" href="{% static 'css/buefy.css' %}">
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}

<script src="{% static 'js/encoding.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/vue-dev.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/buefy/components/autocomplete/index.min.js' %}"></script>

<script>
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };

    function htmlDecode(value) {
        return $("<textarea />").html(value).text();
    }

    new Vue({
        el: '#vue-app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                escolas: [],
                escola: "{{ form.nome_escola.value|default_if_none:'' }}"
            }
        },
        methods: {
            fetchEscolas(input) {
                axios.get("{% url 'inscricoes:api-escolas' %}?search=" + escape(escapeHtmlEntities(input)))
                    .then(response => (
                        this.escolas = response.data.results.map(
                            escola => (
                                escola.nome = htmlDecode(escola.nome)
                            )
                        )
                    ))
            },
        }
    });

    $(function () {
        $("input").addClass("input");
        $("input[name='escola-nome_escola']").attr("id", "id_escola-nome_escola");
        $("form input").keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('button[type=submit]').click();
                return false;
            } else {
                return true;
            }
        });
    });
</script>
{% endblock scripts %}

{% block title %}Inscrição{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/" class="router-link-active">Início</a></li>
            <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">Minha
                    Inscrição</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Responsáveis</p>
                </div>
            </div>
            <div class="step-item is-success is-active">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-school"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Escola</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-train-car"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Transporte</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-food-apple"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Almoço</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Sessões</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Submissão</p>
                </div>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ form.non_field_errors }}
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                Informação da Escola
            </h2>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="{{ form.nome_escola.id_for_label }}" class="label">Nome da Escola</label>
                        <div class="controlis-clearfix" id="vue-app">
                            <b-autocomplete v-model="escola" :data="escolas" field="nome" @typing="fetchEscolas"
                                required name="escola-nome_escola">
                            </b-autocomplete>
                        </div>
                        {{ form.nome_escola.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.local.id_for_label }}" class="label">Localidade</label>
                        <div class="control is-clearfix">{{form.local}}</div>
                        {{ form.local.errors }}
                    </div>
                </div>
            </div>
            <hr />
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                Informação da Turma
            </h2>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label for="{{ form.ano.id_for_label }}" class="label">Ano</label>
                        <div class="control is-clearfix">{{form.ano}}</div>
                        {{ form.ano.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label for="{{ form.turma.id_for_label }}" class="label">Turma</label>
                        <div class="control is-clearfix">{{form.turma}}</div>
                        {{ form.turma.errors }}
                    </div>
                </div>
                <div class="column">
                    <div class="field has-numberinput has-numberinput-compact"><label
                            for="{{form.nalunos.id_for_label}}" class="label">Número de
                            alunos</label>
                        <div class="b-numberinput field has-addons">
                            <p class="control"><button type="button" class="button is-primary"><span class="icon"><i
                                            class="mdi mdi-minus mdi-24px"></i></span></button></p>
                            <div class="control is-clearfix">{{form.nalunos}}
                            </div>
                            <p class="control"><button type="button" class="button is-primary"><span class="icon"><i
                                            class="mdi mdi-plus mdi-24px"></i></span></button></p>
                        </div>
                        {{ form.turma.errors }}
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="{{ form.areacientifica.id_for_label }}" class="label">Área Científica</label>
                <div class="control is-clearfix">{{form.areacientifica}}</div>
                {{ form.areacientifica.errors }}
            </div>
            <hr />
            <div class="column is-8 is-offset-2">
                <div class="level">
                    <div class="level-left">
                        {% if wizard.steps.prev %}
                        <button class="button is-outlined" formnovalidate="formnovalidate" name="wizard_goto_step"
                            value="{{ wizard.steps.prev }}">
                            <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                            <span>Anterior</span>
                        </button>
                        {% endif %}
                    </div>
                    <div class="level-right">
                        <button type="submit" class="button is-success is-outlined">
                            <span>Próximo</span>
                            <span class="icon is-medium"><i class="mdi mdi-forward mdi-36px"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}