{% extends 'app.html' %}
{% load static %}

{% block load %}
<link rel="stylesheet" href="{% static 'css/buefy.css' %}">

<style>
    .table.is-hoverable tbody>tr:not(.is-selected):not(.detail):hover {
        cursor: pointer;
    }

    .label {
        font-weight: normal;
    }

    .menu-list .is-not-menu a.is-active {
        background-color: white;
        color: black;
    }
</style>
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}

<script src="{% static 'js/vue-dev.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/buefy/components/table/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/field/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/numberinput/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/timepicker/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/datepicker/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/select/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/autocomplete/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/menu/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/icon/index.min.js' %}"></script>

<script>
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };

    new Vue({
        el: '#vue-app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                moment: moment,
                atividades: [],
                inscritos: JSON.parse("{{form.sessoes.value|default_if_none:'{}'|escapejs}}"),
                sessoesEscolhidas: JSON.parse("{{form.sessoes_info.value|default_if_none:'[]'|escapejs}}"),
                total: 0,
                loading: false,
                sortField: 'dataalteracao',
                sortOrder: 'desc',
                page: 1,
                perPage: 10,
                filtros: {
                    nome: null,
                    tipo: null,
                },
                maisFiltrosAtividade: false,
                maisFiltrosSessao: false,
            }
        },
        methods: {
            loadAsyncData() {
                let params = [
                    `ordering=${this.sortOrder == 'asc' ? '-' : ''}${this.sortField}`,
                    `page=${this.page}`,
                    `page_size=${this.perPage}`
                ].join('&');

                for (filtro in this.filtros)
                    if (this.filtros[filtro])
                        params += `&${filtro}=${this.filtros[filtro]}`;

                this.loading = true;
                axios.get(`{% url 'inscricoes:api-atividades' %}?${params}`)
                    .then(response => {
                        atividades = response.data;
                        this.atividades = [];
                        let currentTotal = atividades.count;
                        if (atividades.count / this.perPage > 1000) {
                            currentTotal = this.perPage * 1000;
                        }
                        this.total = currentTotal;
                        atividades.results.forEach(atividade => {
                            //for (sessao of atividade.sessoes)
                            //    if(!this.inscritos.hasOwnProperty(sessao.id))
                            //        this.inscritos[sessao.id] = 0;
                            this.atividades.push(atividade);
                        });
                        this.loading = false;
                    })
                    .catch(error => {
                        this.atividades = [];
                        this.total = 0;
                        this.loading = false;
                        throw error;
                    });
            },
            onPageChange(page) {
                this.page = page
                this.loadAsyncData()
            },
            onSort(field, order) {
                this.sortField = field
                this.sortOrder = order
                this.loadAsyncData()
            },
            toggleDetails(row) {
                this.$refs.table.toggleDetails(row);
            },
            closeOtherDetails(row) {
                this.$refs.table.data.forEach(_row => { if(row.id != _row.id) this.$refs.table.closeDetailRow(_row); });
                // await new Promise(r => setTimeout(r, 1));
                this.$refs.table.openDetailRow(row);
            },
            mudarInscritos(atividade, sessao) {
                if(this.inscritos[sessao.id] === null)
                    delete this.inscritos[sessao.id];
                if (this.inscritos[sessao.id] <= 0) {
                    index = this.sessoesEscolhidas.findIndex(obj => sessao.id === obj.sessao.id);
                    if (index !== -1) this.sessoesEscolhidas.splice(index, 1);
                    return;
                }
                info = {
                    atividade,
                    sessao
                }
                index = this.sessoesEscolhidas.findIndex(obj => sessao.id === obj.sessao.id);
                if (index !== -1) this.sessoesEscolhidas[index] = info;
                else this.sessoesEscolhidas.push(info);
            }
        },
        mounted() {
            this.loadAsyncData()
        }
    });

    $(function () {
        $("form input").keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('button[type=submit]').click();
                return false;
            } else {
                return true;
            }
        });
    });
</script>
{% endblock scripts %}

{% block title %}Inscrição{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/" class="router-link-active">Início</a></li>
            <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">Minha
                    Inscrição</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Responsáveis</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-school"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Escola</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-train-car"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Transporte</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-food-apple"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Almoço</p>
                </div>
            </div>
            <div class="step-item is-success is-active">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Sessões</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Submissão</p>
                </div>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div id="vue-app">
                <input type="hidden" name="sessoes-sessoes" :value="JSON.stringify(inscritos)">
                <input type="hidden" name="sessoes-sessoes_info" :value="JSON.stringify(sessoesEscolhidas)">
                {{ form.non_field_errors }}
                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                    Sessões Disponíveis
                </h2>
                <div>
                    <div class="columns">
                        <!-- MENU LATERAL -->
                        <div class="column is-3">
                            <b-menu style="margin-bottom: 1rem">
                                <b-menu-list label="Filtros Atividade">
                                    <b-field>
                                        <b-autocomplete placeholder="Nome da Atividade" keep-first icon="magnify"
                                            v-model="filtros['nome']" @input="value => {this.loadAsyncData();}"
                                            field="name">
                                            <template slot="empty">Atividade não encontrada</template>
                                        </b-autocomplete>
                                    </b-field>
                                    <b-field>
                                        <b-select v-model="filtros['tipo']" placeholder="Tipo de Atividade" expanded>
                                            <!--<option v-for="(opcao, index) in tiposAtividade" :value="opcao"
                                                :key="index">{{ opcao }}
                                            </option>-->
                                        </b-select>
                                    </b-field>
                                    <b-field>
                                        <b-select placeholder="Campus" expanded>
                                            <!--<option v-for="(opcao, index) in campus" :value="opcao" :key="index">
                                                {{ opcao }}
                                            </option>-->
                                        </b-select>
                                    </b-field>
                                    <b-menu-item class="is-not-menu" :expanded="maisFiltrosAtividade"
                                        @click="maisFiltrosAtividade = !maisFiltrosAtividade">
                                        <template slot="label" slot-scope="props">
                                            <small>Mais Filtros de Atividade</small>
                                            <b-icon class="is-pulled-right" :icon="props.expanded ? 'minus' : 'plus'" />
                                        </template>
                                        <b-field>
                                            <b-datepicker placeholder="Submetido depois de..." icon="calendar-today">
                                            </b-datepicker>
                                        </b-field>
                                        <b-field>
                                            <b-datepicker placeholder="Submetido antes de..." icon="calendar-today">
                                            </b-datepicker>
                                        </b-field>
                                    </b-menu-item>
                                </b-menu-list>
                            </b-menu>
                            <b-menu>
                                <b-menu-list label="Filtros Sessão">
                                    <div class="columns" style="margin-bottom: 0">
                                        <b-field class="column" style="margin-bottom: 0">
                                            <b-timepicker placeholder="De" icon="clock" editable
                                                :increment-minutes="30">
                                            </b-timepicker>
                                        </b-field>
                                        <b-field class="column">
                                            <b-timepicker placeholder="Até" icon="clock" editable
                                                :increment-minutes="30">
                                            </b-timepicker>
                                        </b-field>
                                    </div>
                                    <b-field label="Mínimo de vagas">
                                        <b-numberinput controls-position="compact" min="0" />
                                    </b-field>
                                    <b-menu-item class="is-not-menu" :expanded="maisFiltrosSessao"
                                        @click="maisFiltrosSessao = !maisFiltrosSessao">
                                        <template slot="label" slot-scope="props">
                                            <small>Mais Filtros de Sessão</small>
                                            <b-icon class="is-pulled-right" :icon="props.expanded ? 'minus' : 'plus'" />
                                        </template>
                                    </b-menu-item>
                                </b-menu-list>
                            </b-menu>
                        </div>
                        <!-- TABELA DISPONÍVEIS -->
                        <div class="column">
                            <b-table :data="atividades" :loading="loading" ref="table" hoverable detailed
                                @click="toggleDetails" @page-change="onPageChange" @details-open="closeOtherDetails"
                                backend-sorting :default-sort="[sortField, sortOrder]" @sort="onSort"
                                sort-icon="menu-up" paginated backend-pagination :total="total" striped
                                :per-page="perPage" aria-next-label="Next page" aria-previous-label="Previous page"
                                aria-page-label="Page" aria-current-label="Current page">
                                <template slot-scope="props">
                                    <b-table-column field="nome" label="Nome" sortable>
                                        [[ props.row.nome ]]
                                    </b-table-column>
                                    <b-table-column field="tipo" label="Tipo" sortable>
                                        [[ props.row.tipo ]]
                                    </b-table-column>
                                    <b-table-column field="publicoalvo" label="Público Alvo" sortable>
                                        [[ props.row.publicoalvo ]]
                                    </b-table-column>
                                </template>
                                <template slot="detail" slot-scope="props">
                                    <div class="content">
                                        <div style="font-size: 15px">
                                            <p>[[ props.row.descricao ]]</p>
                                            {% comment %} <p><strong>Responsável:</strong> [[ props.row.creator ]]</p>
                                            {% endcomment %}
                                            <b-table :data="props.row.sessoes" sort-icon="false" default-sort="horario.inicio">
                                                <template slot-scope="session_props">
                                                    <b-table-column field="horario.inicio" label="Horário" sortable>
                                                        [[ moment(session_props.row.horario.inicio,
                                                        "HH:mm:ss").format("HH:mm")
                                                        ]] -
                                                        [[ moment(session_props.row.horario.fim,
                                                        "HH:mm:ss").format("HH:mm") ]]
                                                    </b-table-column>
                                                    <b-table-column field="vagas" label="Vagas">
                                                        [[ session_props.row.vagas ]]
                                                    </b-table-column>
                                                    <b-table-column label="Inscrever">
                                                        <b-field>
                                                            <b-numberinput class="no-margin-bottom"
                                                                style="width: 10rem; margin-bottom: 0"
                                                                controls-position="compact" min="0" :max="session_props.row.vagas"
                                                                v-model="inscritos[session_props.row.id]"
                                                                @input="mudarInscritos(props.row, session_props.row)" />
                                                        </b-field>
                                                    </b-table-column>
                                                </template>
                                            </b-table>
                                        </div>
                                    </div>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </div>
                <hr />
                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                    Sessões Escolhidas
                </h2>
                <!-- TABELA ESCOLHIDAS -->
                <b-table :data="sessoesEscolhidas" sort-icon="false" default-sort="sessao.horario.inicio">
                    <template slot-scope="props">
                        <b-table-column field="sessao.horario.inicio" label="Horário" sortable>
                            [[ moment(props.row.sessao.horario.inicio, "HH:mm:ss").format("HH:mm") ]] -
                            [[ moment(props.row.sessao.horario.fim, "HH:mm:ss").format("HH:mm") ]]</b-table-column>
                        <b-table-column label="Inscritos">
                            <b-field>
                                <b-numberinput v-model="inscritos[props.row.sessao.id]" min="0" :max="props.row.sessao.vagas" style="width: 10rem"
                                    controls-position="compact"
                                    @blur="mudarInscritos(props.row.atividade, props.row.sessao)" />
                            </b-field>
                        </b-table-column>
                        <b-table-column field="atividade" label="Atividade">
                            [[ props.row.atividade.nome ]]
                        </b-table-column>
                        <b-table-column label="Ações" centered>
                            <a @click="inscritos[props.row.sessao.id] = 0; mudarInscritos(props.row.atividade, props.row.sessao)">
                                <b-icon icon="close-box" type="is-danger" /></a>
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <p class="has-text-grey">Ainda não há sessões escolhidas</p>
                    </template>
                </b-table>
                <hr />
                <div class="column is-8 is-offset-2">
                    <div class="level">
                        <div class="level-left">
                            {% if wizard.steps.prev %}
                            <button class="button is-outlined" formnovalidate="formnovalidate" name="wizard_goto_step"
                                value="{{ wizard.steps.prev }}">
                                <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                                <span>Anterior</span>
                            </button>
                            {% endif %}
                        </div>
                        <div class="level-right">
                            <button type="submit" class="button is-success is-outlined">
                                <span>Próximo</span>
                                <span class="icon is-medium"><i class="mdi mdi-forward mdi-36px"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}