{% extends 'app.html' %}
{% load static %}

{% block load %}
<link rel="stylesheet" href="{% static 'css/buefy.css' %}">
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/vue-dev.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/buefy/components/table/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/select/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/radio/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/timepicker/index.min.js' %}"></script>
<script src="{% static 'js/buefy/components/field/index.min.js' %}"></script>

<script>
    window.onpageshow = function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    };

    new Vue({
        el: '#vue-app',
        delimiters: ['[[', ']]'],
        data() {
            return {
                meio: "{{ form.meio.value|default_if_none:'' }}",
                precisamTransporteEntreCampi: "Não",
                transportes: [],
            }
        },
        methods: {
            moment: function () {
                return moment();
            }
        },
    });

    $(function () {
        $("form input").keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('button[type=submit]').click();
                return false;
            } else {
                return true;
            }
        });
    });
</script>
{% endblock scripts %}

{% block title %}Inscrição{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/" class="router-link-active">Início</a></li>
            <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">Minha
                    Inscrição</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Responsáveis</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-school"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Escola</p>
                </div>
            </div>
            <div class="step-item is-success is-active">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-train-car"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Transporte</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-food-apple"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Almoço</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Sessões</p>
                </div>
            </div>
            <div class="step-item is-success">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Submissão</p>
                </div>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div id="vue-app">
                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                    Transportes fornecidos pela universidade
                </h2>
                <b-table :data="transportes" striped hoverable>
                    <template slot-scope="props">
                        <b-table-column field="escola" label="Escola" sortable>
                            [[ props.row.escola ]]
                        </b-table-column>
                        <b-table-column field="hora_partida" label="Horário" width="120">
                            [[ moment(props.row.hora_partida).format("hh:mm") ]] -
                            [[ moment(props.row.hora_chegada).format("hh:mm") ]]
                        </b-table-column>
                        <b-table-column field="campus" label="Campus" sortable>
                            [[ props.row.campus ]]
                        </b-table-column>
                        <b-table-column field="numero_autocarros" label="Nº Autocarros" sortable>
                            [[ props.row.numero_autocarros ]]
                        </b-table-column>
                        <b-table-column field="numero_participantes" label="Nº Lugares Disponíveis" sortable>
                            [[ props.row.numero_participantes ]]
                        </b-table-column>
                    </template>
                </b-table>
                <hr />
                <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                    Informação de transporte
                </h2>
                <div class="columns">
                    <div class="column">
                        <b-field label="Meio de transporte">
                            <b-select v-model="meio" expanded name="transporte-meio" required>
                                <option value="universidade">Pedir transporte à universidade</option>
                                <option value="comboio">Comboio</option>
                                <option value="autocarroProprio">Autocarro Próprio</option>
                                <option value="outrosMeios">Outros Meios</option>
                            </b-select>
                        </b-field>
                    </div>
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <b-field label="Hora de chegada">
                                    <b-timepicker icon="clock" :increment-minutes="5" editable>
                                    </b-timepicker>
                                </b-field>
                            </div>
                            <div class="column">
                                <b-field label="Hora de partida">
                                    <b-timepicker icon="clock" :increment-minutes="5" editable>
                                    </b-timepicker>
                                </b-field>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="display: inline-block; padding-right: 2rem">
                    Precisam de transporte para efectuar as visitas entre os 3 Campi?
                </p>
                <b-radio v-model="precisamTransporteEntreCampi" name="name" native-value="Não">
                    Não
                </b-radio>
                <b-radio v-model="precisamTransporteEntreCampi" name="name" native-value="Sim">
                    Sim
                </b-radio>
                <hr />
                <div class="column is-8 is-offset-2">
                    <div class="level">
                        <div class="level-left">
                            {% if wizard.steps.prev %}
                            <button class="button is-outlined" formnovalidate="formnovalidate" name="wizard_goto_step"
                                value="{{ wizard.steps.prev }}">
                                <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                                <span>Anterior</span>
                            </button>
                            {% endif %}
                        </div>
                        <div class="level-right">
                            <button type="submit" class="button is-success is-outlined">
                                <span>Próximo</span>
                                <span class="icon is-medium"><i class="mdi mdi-forward mdi-36px"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}