{% extends 'app.html' %}
{% load static %}

{% block load %}
{{ wizard.form.media }}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.js' %}"></script>

<script>
    $("input").addClass("input");
</script>
{% endblock scripts %}

{% block title %}Inscrição{% endblock title %}

{% block content %}
<div>
    <nav aria-label="breadcrumbs" class="breadcrumb">
        <ul>
            <li><a href="/" class="router-link-active">Início</a></li>
            <li class="is-active"><a href="/inscricao" class="router-link-exact-active router-link-active">Minha
                    Inscrição</a></li>
        </ul>
    </nav>
    <div style="padding: 3rem 2vw 1rem;">
        <div class="steps is-success">
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Responsáveis</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-school"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Escola</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-train-car"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Transporte</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-food-apple"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Almoço</p>
                </div>
            </div>
            <div class="step-item is-success is-completed">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-calendar-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Sessões</p>
                </div>
            </div>
            <div class="step-item is-success is-active">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Submissão</p>
                </div>
            </div>
        </div>
        <hr />
        <form action="" method="post">
            {% csrf_token %}
            {{ wizard.management_form }}
            <h2 class="title has-text-grey is-uppercase" style="font-size: 0.9rem">
                Resumo da Inscrição
            </h2>
            <p>Dados Pessoais, Dados da escola, Sessões escolhidas, etc...</p>
            <br />
            <p>Um e-mail de confirmação será enviado para [e-mails].</p>
            <hr />
            <div class="column is-8 is-offset-2">
                <div class="level">
                    <div class="level-left">
                        <button class="button is-outlined" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
                            <span class=" icon is-small"><i class="mdi mdi-chevron-left"></i></span>
                            <span>Anterior</span>
                        </button>
                    </div>
                    <div class="level-right">
                        <button type="submit" class="button is-success is-outlined">
                            <span>Submeter</span>
                            <span class="icon"><i class="mdi mdi-check"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}